@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
      scroll-behavior: smooth;
}
[id] {
      scroll-margin-top: 6rem; 
    }
@layer base {
      body {
            @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide capitalize overflow-x-hidden
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
            @apply font-bold
      }

      button {
            @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
      }

      li {
            @apply cursor-pointer
      }

      .blur-effect-theme {
            @apply bg-white/50 bg-clip-padding backdrop-filter backdrop-blur bg-opacity-50 opacity-100 z-[100] shadow-sm shadow-slate-100 transition-all duration-300;
      }

}

.isScrolling {
      transition: 0.5s;
      transform: translateX(0);
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
}

.notScroll {
      transition: 0.5s;
      transform: translateX(-200%);
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transform: translateX(-200%);
      -moz-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
      -o-transform: translateX(-200%);
}



.scrollProject {
      transition: 0.5s;
      transform: translateY(0);
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
}

.notScrollProject {
      transition: 0.5s;
      transform: translateY(200%);
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transform: translateY(200%);
      -moz-transform: translateY(200%);
      -ms-transform: translateY(200%);
      -o-transform: translateY(200%);
}

main {
      min-height: calc(100vh - (118px));
}
@media screen and (max-width: 380px) {
      .smallScreen {
        height: 275px;
        width: 100%;
      }
}
html {
      width: 100vw;
      overflow-x: hidden;
    }
    
    body {
      position: relative;
      min-height: 100vh;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
    }
    
    [dir='rtl'] * {
      letter-spacing: 0 !important;
    }
    
    @media (max-width: 700px) {
      [dir='rtl'] {
        font-size: 1.05rem;
      }
    }